/* history */
#history{width:100%;height:450px;position:relative;margin:0 auto 0 auto;}
.title{height:95px;line-height:95px;text-indent:280px;}
.title h2{color:#7c7c7c;font-size:18px;font-weight:500;}
#circle{
	width:83px;height:83px;position:absolute;top:0;left:20%;border:6px solid rgba(0,0,0,0.15);border-radius:95px;text-indent:0;text-align:center;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	transition:all 0.3s linear;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#circle .cmsk{height:83px;position:absolute;width:83px;top:0;left:0;}
#circle:hover{
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	border-color:rgba(0,0,0,0);
}
.clock{display:block;}
#circle:hover {border-color:#337ab7;background-color:#337ab7;}
#circle:hover .clock{display:block;}
#circle:hover .circlecontent{display:none;}
#circle span{font-size:18px;color:#b0b0b0;}
#circle .clock{
	background:url(../img/about/clock.png) no-repeat 0 0;width:83px;height:83px;position:absolute;top:0;left:0;display:none;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	border-radius:0;
}
#circle:hover .clock{border-radius:83px;}
.timeyear{color:#fff;font-size:18px;line-height:20px;}
.timeblock{height:28px;margin-top:22px;margin-left:5px;}
.timeblock span{display:block;height:24px;width:18px;background:url(../img/about/date.png) no-repeat 0 0;float:left;}
.timeblock .numf{background-position:0px -48px;}
.timeblock .nums{background-position:0px 0px;}
.timeblock .numt{background-position:0px -24px;}
.timeblock .numfo{background-position:0px -72px;}
#content{height:355px;width:100%;overflow:hidden;background:url(../img/about/vertical.png) no-repeat 434px 2px;padding-top:10px;}
.list{overflow:hidden;position:relative;}
.list li{height:110px;vertical-align:bottom;overflow:hidden;position:relative;}
.liwrap{height:55px;margin-top:28px;}
.lileft{position:absolute;top:0;left:0px;height:55px;width:20%;line-height:55px;text-align:right;}
.liright{position:absolute;top:0;right:0px;height:55px;width:65%;}
.histt{height:35px;line-height:35px;}
.hisct{font-size:14px;color:#606060;}
.md{font-size:18px;color:#000;}
.year{font-size:12px;color:#000;margin-right:10px;}
.point{width:55px;height:55px;position:absolute;top:0;left:22%;background:url(../img/about/point.png) no-repeat 0px 18px;overflow:hidden;}
.point b{
	height:16px;width:16px;background:#fff;display:block;margin:17px 0 0 19px;border-radius:18px;border:2px solid ##337ab7;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	transition:all 0.1s linear;
	position:absolute;
	top:0;left:0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.thiscur .point b{border:7px solid #337ab7;margin:12px 0px 0px 14px;border-radius:52px;}
.thiscur .histt a{color:#337ab7;}
.histt a{
	font-size:24px;color:#606060;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
#arrow{position:absolute;top:50%;right:30px;z-index: 3}
/**html #arrow{position:absolute;top:expression(eval(document.documentElement.scrollTop));margin-top:350px;}*/

#arrow ul li{
	display:block;height:20px;width:20px;background:url(../img/about/icons.png) no-repeat 0 0;cursor:pointer;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
#arrow ul li:active{background-color:#000;}
#arrow ul .arrow_active{
	background-color:#000;
	-webkit-transition:all 0.1s ease-in;
	-moz-transition:all 0.1s ease-in;
	-o-transition:all 0.1s ease-in;
	transition:all 0.1s ease-in;
}
#arrow ul .arrowup{background-position:0px -26px;margin-bottom:10px;}
#arrow ul .arrowdown{background-position:0px 0px;}