@media (max-width: 1680px){


}
@media (max-width: 1360px) {
    .slide-grid-container {
        height: 660px;
    }

    .slide-grid-container .slide-grid-item a {
        background-size: auto 660px;
    }

    .ph-post1-wrapper .button:after, .ph-post1-wrapper .button > span > span {

        padding: 0.7em 0;
    }

    .ph-post1-wrapper .button {
        width: 8em;
    }
    .service-text .text p{
        width: 75%;
    }
}
    @media (max-width: 1200px) {
        .footer-left {
            display: none;
        }

        .index3-right {
            display: none;
        }

        .one {
            overflow-x: scroll;
        }

        .one ul {
            width: 2000px;
        }

        .footer-left {
            display: none;
        }

        .index3-right {
            display: none;
        }

        .service-list-con {
            padding: 30px 0;
        }
        .page-cen {
            padding: 0 30px;
        }
        .service-list {
            width: 100%;
            margin-bottom: 30px;
            padding: 20px;
        }
        .service-text .text {
            margin: 10px 0;
        }
        .service-text .text p {
            width: 100%;
        }
    }



@media (max-width: 768px){
    .index-about{
        height: 200px;
    }
    .index-about-video{
        height: 200px;
    }
    .shubiao{
        width: 10px;
        height: 10px;
    }
    .index3-left{
        padding: 20px 0;
    }
    .index1_top {
        padding: 10px;
    }
    .index1_top h3{
        font-size: 18px;
    }
    .index1_yinying {
        margin: 5px auto;
    }
    .index1_top h2{
        font-size: 16px;
    }
    .index4{
        height: 300px;
    }
    .index4_top {
        padding-top: 10px;
    }
    .index4_top h3{
        font-size: 18px;
    }
    .index4_yinying {
        margin: 5px auto;
    }
    .index4_top h2{
        font-size: 16px;
        letter-spacing: 0px;
    }
    .index5_top {
        padding: 10px;
    }
    .index5_top h3{
        font-size: 18px;
    }
    .index5_yinying {
        margin: 5px auto;
    }
    .index5_top h2{
        font-size: 16px;
    }
    .index1_bottom ul li {
        padding: 10px ;
    }
    .index3-lbottom-dtbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
        height: 80%;
        border-radius: 5px;
        border: 1px solid #ffffff;
        margin: auto;
        padding: 5px 15px;
    }
    .index3-lbottom-dtbox div div{
        font-size: 14px;
        padding: 3px 0;
    }
    .index3-lbottom-dtbox div p{
        font-size: 12px;
    }
    .news_wenzi h6 {
        font-size: 16px;
    }
    .news_wenzi p {
        font-size: 12px;
    }
    .footer-left{
        display: none;
    }
    .index3-right{
        display: none;
    }
    .qiyejianjie_btnBox{
        width: 100%;
        margin-bottom: 10px;
    }
    .ph-post1-wrapper .button{
        margin: 0 auto;
        width: 6em;
    }
    .ph-post1-wrapper {
        font-size: 14px;
    }
    .index3-lan h3{
        font-size: 16px;
        line-height: 25px;
    }
    .index3-lan h5{
        font-size: 14px;
    }
    .index3-lanTiao{
        height: 55px;
    }
    .index3-ltop p{
        font-size: 12px;
        padding: 0;
         margin-top: 0;
    }
    .qiyejianjie_img1{
        padding: 0;
    }
    .two ul li{
        width: 240px;
        height: 150px;
    }
    .two ul li a{
        width: 240px;
        height: 150px;
    }
    .Cooldog_container {
        width: 100%;

    }
    .service-list-con {
        padding: 30px 0;
    }
    .page-cen {
        padding: 0 30px;
    }
    .service-list {
        width: 100%;
        margin-bottom: 30px;
        padding: 20px;
    }
    .service-text .text {
        margin: 10px 0;
    }
    .service-text .text p {
        width: 100%;
    }
    .xinwenlb_wenzi h4 {
        font-size: 16px;
    }
    .xinwenlb_wenzi{
        font-size: 12px;
    }
    .xinwenlb_box{
        height: 160px;
    }
}
